RewriteEngine On
RewriteCond %{REQUEST_URI} ^/system.*
RewriteRule ^(.*)$ index.php?/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|css|js|uploads|.+\.js$|.+\.png$|.+\.jpg$|robots\.txt)
RewriteCond $1 !^(index\.php|uploads/images|robots\.txt)
RewriteRule ^(.*)$ index.php?/$1 [L]
#AuthType Basic
#AuthName "Input your ID and Password."
#AuthUserFile /var/www/apps/musashi/.htpassword
#require valid-user
# メモリの上限
php_value memory_limit 100M

# 1度のアップロードファイル合計サイズ
php_value post_max_size 100M

# 1ファイルの最大サイズ
php_value upload_max_filesize 20M

<IfModule mod_setenvif.c>
  SetEnvIf Request_URI "\.(jpe?g|png)$" _image_request
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP_ACCEPT} image/webp
  RewriteCond %{SCRIPT_FILENAME}.webp -f
  RewriteRule .(jpe?g|png)$ %{SCRIPT_FILENAME}.webp [T=image/webp]
</IfModule>

<IfModule mod_headers.c>
  Header append Vary Accept env=_image_request
</IfModule>

<IfModule mod_mime.c>
  AddType image/webp .webp
</IfModule>

AddType image/webp .webp
#RewriteEngine On
#RewriteCond %{REQUEST_URI} ^/system.*
#RewriteRule ^(.*)$ index.php?/$1 [L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.+)$ index.php?/$1 [L]
#AuthType Basic
#AuthName "Input your ID and Password."
#AuthUserFile /var/www/apps/musashi/.htpassword
#require valid-user
